.our_client {
    .outer_div {
        display: flex;
        width: 100%;
        padding: 2rem 4rem;
        background-color: black;

        .one {
            width: 40%;
            display: flex;
            justify-content: space-between;

            .text_containt {
                color: white;
                font-weight: 900;

                .line {
                    height: 3px;
                    width: 50px;
                    background-color: white;
                }
            }

            .left_right_icon {
                width: 8%;
                display: flex;
                flex-direction: column;

                .icons {
                    width: 35px;
                    height: 33px;
                    display: flex;
                    justify-content: flex-end;

                    .less_than_icon {
                        width: 7px;
                        height: 7px;
                        color: white;
                    }

                    .greater_than_icon {
                        width: 7px;
                        height: 7px;
                        color: white;
                    }
                }
            }

        }


        .two {
            position: relative;
            width: 60%;
            background-color: white;
            left: 1%;
            padding: 0.7rem;
            display: flex;
            justify-content: space-around;

        }
    }
}