.footer {
    padding: 5rem 0rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;

    .footer_liks {
        font-size: 15px;

        .links {
            text-decoration: none;
        }
    }
}

@media only screen and (max-width : 1000px) {
    .footer {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
        grid-auto-flow: column;

    }
}