.Header {
    padding: 1rem 3rem;
    display: flex;
    justify-content: space-between;
    background-color: white;

    .Navlinks {
        color: black;
        font-size: 13px;
    }


}

// .NavbarItemList {
//     display: flex;
//     justify-content: flex-end;

//     .navlist {
//         cursor: pointer;
//         color: black;
//     }
// }

// @media only screen and (max-width: 1000px) {
//     .NavbarItemList {
//         display: flex;
//         justify-content: left;
//         // flex-direction: column;
//     }
// }