.our_experts {
    display: flex;
    justify-content: space-between;
    background-color: rgb(239, 247, 247);

    .expertBg1 {
        background-color: black;
        color: white;
    }

    .expertBg2 {
        background-color: transparent;
        color: black;

    }

    .icon1 {
        width: 35px;
        height: 35px;
        border: 1px solid white;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0.2rem;

        &:hover {
            border: 1px solid rgb(70, 61, 61);
            transition: 1s;

            .brand_icon1 {
                color: rgb(70, 61, 61);
                transition: 1s;

            }
        }
    }

    .icon2 {
        width: 35px;
        height: 35px;
        border: 1px solid black;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0.2rem;

        &:hover {
            background-color: black;
            color: white;

            .brand_icon2 {
                color: white;
            }
        }
    }

    .brand_icon1 {
        width: 20px;
        height: 20px;
        color: white;
    }

    .brand_icon2 {
        width: 20px;
        height: 20px;
        color: black;

    }

    .expert_team {
        padding: 4rem 1rem 1rem 5rem;

        .team_pic {
            height: 50%;
            width: 100%;
        }

        .icon {
            color: white;
            display: flex;
            justify-content: center;
            cursor: pointer;

        }


        .mainInfo {
            .inner_div_Of_MainInfo {
                margin-right: 2rem;
                text-align: left;

                .fent_heading {
                    font-size: 80px;
                    color: aqua;
                }
            }
        }
    }

    .second {
        display: grid;
        grid-template-columns: 17rem 17rem;
        column-gap: 1rem;
        row-gap: 1rem;
        margin-top: 10rem;
        padding-bottom: 2rem;

        .expert_image {
            height: 80%;
        }

        .expert_detail {
            &::before {
                content: '';
                position: absolute;
                width: 50px;
                height: 50px;
                border-left: 4px solid black;
                border-bottom: 4px solid black;
                left: -1%;
                bottom: -1%;
            }
        }
    }
}

@media only screen and (max-width: 1000px) {
    .our_experts {
        display: flex;
        flex-direction: column;
        width: 100%;

        .expert_team {
            width: 100%;
            padding: 0 1rem 1rem 1rem;
        }

        .second {
            width: 100%;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
            grid-gap: 4rem;
            justify-items: center;
            align-items: center;
            padding: 4rem 2rem 1rem 2rem;
        }
    }
}