.main1 {
    .latestProject {
        display: flex;
        justify-content: space-between;
        // padding: 1rem 3rem;

        .links {
            text-decoration: none;
            color: black;
            font-weight: 500;
        }
    }

    .cards {
        display: flex;
        justify-content: space-between;

        .actual_card {
            width: 16rem;
            height: 25rem;
            background-color: black;
        }

        .actual_card:hover {
            background-color: white;
        }
    }

    .mainInfo {
        border-right: 10px solid black;

        .inner_div_Of_MainInfo {
            margin-right: 2rem;
            text-align: right;

            .fent_heading {
                font-size: 80px;
                color: aqua;
            }
        }
    }
}