.main1 {
    .latestProject {
        display: flex;
        justify-content: space-between;
        align-items: center;

        // padding: 1rem 3rem;
        .line {

            height: 3px;
            width: 50px;
            background-color: black;
        }

        .links {
            text-decoration: none;
            color: black;
            font-weight: 500;
        }
    }

    .cards {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(10rem, 16rem));
        grid-gap: 0.5rem;
        justify-items: center;
        align-items: center;

        .actual_card {
            width: 16rem;
            height: 25rem;
            background-color: black;
        }

        .actual_card:hover {
            background-color: white;
        }

    }

    .left_right_icon {
        width: 8%;
        display: flex;
        justify-content: space-evenly;

        .icons {
            width: 35px;
            height: 33px;
            background-color: rgb(131, 90, 90);
            display: flex;
            justify-content: center;

            .less_than_icon {
                width: 7px;
                height: 7px;
                color: white;
            }

            .greater_than_icon {
                width: 7px;
                height: 7px;
                color: white;
            }
        }
    }


    .mainInfo {
        border-right: 10px solid black;

        .inner_div_Of_MainInfo {
            margin-right: 2rem;
            text-align: right;

            .fent_heading {
                font-size: 80px;
                color: aqua;
            }
        }
    }
}

@media only screen and (max-width: 1000px) {
    .main1 {
        .latestProject {
            display: grid;
            grid-template-columns: 1fr;
        }

        .mainInfo {
            border-right: 10px solid black;
            margin-right: -2rem;

            .inner_div_Of_MainInfo {
                margin-right: 1rem;
                text-align: right;

                .fent_heading {
                    font-size: 3rem;
                    color: aqua;
                    margin-bottom: 0.3rem;
                }
            }
        }
    }
}