.top_banner {
    background-image: url('https://cdn.pixabay.com/photo/2017/08/07/18/28/businessman-2606509__480.jpg');
    height: 400px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;

    .breadcrumb_item {
        display: flex;
    }

}