.SomeInfo {
    .outer {
        display: flex;

        // .one {
        //     width: 50%;
        // }

        // .two {
        //     width: 50%;
        // }
        .param {
            width: 50%;
            padding-left: 7%;
            // padding-right: 5%;
        }
    }
}